* {
  box-sizing: border-box;
}

body {
  background-color: #b4d8e6;
  text-align: center;
}

main {
  max-width: 1024px;
  margin: 0 auto;
}

.title {
  font-family: helvetica;
  font-weight: bold;
  font-size: 40px;
  margin: 60px auto 20px auto;
}

.subtitle {
  font-family: helvetica;
  font-size: 15px;
  font-weight: normal;
  color: rgba(100, 100, 100, 1);
  margin: 20px auto;
}

.warning {
  color: red;
}

.category {
  width: 30%;
  height: 60px;
  background-color: rgba(255, 255, 255, 1);
  margin: 10px;
  padding: 10px;
}

@media screen and (max-width: 768px) {
  .category {
    width: 45%;
    height: 80px;
    vertical-align: top;
    margin: 2.5%;
  }
}

@media screen and (max-width: 320px) {
  .title {
    font-size: 30px;
  }
  .category {
    width: 80%;
  }
}
